name: Build from sdist

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  sdist:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: haskell-actions/setup@v2
      with:
        enable-stack: true
        stack-version: 'latest'

    - name: Generate sdist and test building the package
      run: |
        stack sdist --test-tarball
